body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background {
    position: relative;
    

    /* min-height: Set the minimum height of a element */
    min-height: 100%;
    min-width: 100%;
    position: fixed;

    z-index: -1;
}

.background::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: black;

    margin-left: 39%;
    min-height: 100%;
    min-width: 100%;
    position: fixed;

    transform: skewX(5.23deg);
    opacity: 70%;
    z-index: -2;
}

.background::after{
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../Picture/Home/backgroundLight.png');


    background-size: cover;
    background-position: left center;
    z-index: -3;
}

/* delete dot before all list */
ul {
    /* list-style-type: some different list styles circle, square, upper-roman, lower-alpha...*/
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.photo img{
    margin-top: 11.6%;
    margin-left: 9.6%;
    width: 18.2%;
    border-radius: 50%;

    z-index: 1;
}

/*------------------------------------------------------
    #instructions:  HomePage navigation part
                    display none first 
                    show after click the menu
                    
    #Parameters:    .menu: menu bar buttom img
                    #HomePageNav ul: navigetion list
                    .exit: close img
------------------------------------------------------*/
.menu {
    float: right;
    margin-top: 27px;
    margin-right: 17px;
}

.menu img{
    width: 25px;
    height: 19.87px;
}

#HomePageNav ul {
    /* keep the navigation stuck in one place when you scroll the interface */
    position: fixed;
    width: 50%;
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    top: 0;
    right: 0;

    text-align: left;
    background-color: #202020;
    
    z-index: 10;
}

.exit {
    margin-top: 27px;
    margin-right: 17px;
    text-align: right;
    height: 48px;
}

.exit img{
    width: 20px;
    height: 20px;
}

#HomePageNav ul li a {
    color: #CCCCCC;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 23px 12.3%;
    font-weight: bold;
    font-size: medium;
    background-color: #363636;
}

#HomePageNav ul li a:hover {
    background-color: #515157;
}

.hide-menu {
    display: none;
}

/*------------------------------------------------------
    #instructions:  information part
                    include: name, contract info,
                             introduction and 
                             connection button  
                    
    #Parameters:    .information: all information part
                    .name: name
                    .introduction: introduction
                    .contract: contract
                    .sayHi: Say Hi! buttom
------------------------------------------------------*/
.information {
    color: white;
    display: flex;
    /* space-between: Items will have space between them */
    justify-content: space-between;
}

.name {
    font-size: large;
    font-weight: 700;
    margin-top: 8.62%;
    margin-left: 9.6%;
    width: 18.7%;
}

.introduction {
    font-style: italic;
    font-weight: 500;
    font-size: medium;
    color: #CCCCCC;
    margin-top: 8.62%;
    margin-right: 17px;
    width: 45.3%;
}

.contract {
    font-size: x-small;
    font-style: italic;
    font-weight: 500;
    width: 29.6%;
    margin-top: 4.8%;
    margin-left: 9.6%;
    /* Handling Long Words and URLs */
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.sayHi {
    margin-top: 12.2%;
    margin-right: 17px;
}

.sayHi img {
    height: 25px;
}

@media only screen and (min-width: 768px) {
    .menu {
        display: none;
    }

    /*------------------------------------------------------
    #instructions:  HomePage navigation part in large screen       
    
    #Parameters:    
    ------------------------------------------------------*/
    .show-desktop {
        display: flex;
        justify-content: space-between;
    }
    .exit {
        display: none;
    }

    #HomePageNav ul {
        width: 57%;
        height: auto;
        margin-top: 2%;
        margin-right: 3%;
    
        text-align: left;
        background: none;
    }

    #HomePageNav ul li a {
        padding: 0;
        font-size: x-small;
        font-weight: 700;
        background: none;
    }

    #HomePageNav ul li a:hover {
        background: none;
    }

    /*------------------------------------------------------
    #instructions:  HomePage photo and part intro
                    in large screen       
    
    #Parameters:    
    ------------------------------------------------------*/
    .photo img{
        margin-top: 5%;
        margin-left: 7.3%;
        width: 12%;    
    }
    
    .name {
        font-size: x-large;
        font-weight: 700;
        margin-top: 3%;
        margin-left: 7.3%;
        text-align: left;
        width: 13.5%;
    }
    
    .introduction {
        font-weight: 500;
        font-size: large;
        margin-top: 3%;
        margin-right: 3%;
        width: 50%;
    }
    
    .contract {
        font-size: small;
        font-style: italic;
        font-weight: 500;
        width: 29.6%;
        margin-top: 2%;
        margin-left: 7.3%;
    }
    
    .sayHi {
        margin-top: 2%;
        margin-right: 5%;        
    }
    
    .sayHi img {
        height: 35px;
    }
}
@media only screen and (min-width: 875px) {
    #HomePageNav ul li a {
        font-size: small;
    }
}
@media only screen and (min-width: 1200px) {
    #HomePageNav ul li a {
        font-size: larger;
    }

    .photo img{
        width: 10%;    
    }
    
    .name {
        width: 12%;
    }
    
    .contract {
        font-size: medium;
    }

    .sayHi img {
        height: 50px;
    }

}
